<div class="main-wrapper">
    <h1>My Profile</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="lat" id="lat">
        <input type="hidden" name="lon" id="lon">
        <label for="username">Username: <%= locals.user.username %></label><br/>
        <input name="username" placeholder="<%= locals.user.username %>"></input><br/>
        <label for="firstName">First Name: <%= locals.user.firstName %></label><br/>
        <input name="firstName" placeholder="<%= locals.user.firstName %>"></input><br/>
        <label for="lastName">Last Name: <%= locals.user.lastName %></label><br/>
        <input name="lastName" placeholder="<%= locals.user.lastName %>"></input><br/>
        <input type="file" name="image" id="fileInput"><br/>
        <div id="fileDisplayArea"></div>
        <input class="btn" type="submit" value="Update Profile">
    </form>
    <div class="btn-group">
        <a href="/interests" class="btn-large">Modify Interests and Values</a>
        <a href="/bio" class="btn-large">Update Bio</a>
    </div>
    <% if (locals.message) { %>
        <h5><%= locals.message %></h5>
        <% } %>
</div>
<script src="/profilePic.js" defer></script>
<script src="/location.js" defer></script>

