<div class="chat-wrapper">
    <div class="left-side"></div>
    <div class="right-side">
        <form id="form" autocomplete="off">
            <div class="message-group">
                <label for="message-input">Message</label>
                <input type="text" id="message-input" />
                <button type="submit" id="send-button">Send</button>
            </div>
        </form>
        <div id="message-container">
            <% for (const message of locals.messages) { %> <% if (message.username ===
            locals.user.username) { %>
            <div class="chat-heading">
                <%= message.time %> <br /><%= message.username + `(you)`%>
            </div>
            
            <% } %> <% if (message.username === locals.friend.username) { %>
            <div class="chat-heading-other">
                <%= message.time %> <br /><%= message.username %>
            </div>
            
            <% } %>
            <div class="message"><%= message.text %></div>
            <% } %>
        </div>
    </div>
    </div>
	
<div id="room-name"></div>
<% if (locals.user) { %>
<input type="hidden" id="user-name-input" value="<%= locals.user.username %>" />
<% } %> <% if (locals.friend) { %>
<input type="hidden" id="friend-socket-input" value="<%= locals.friend.socketId %>" />
<input type="hidden" id="friend-id-input" value="<%= locals.friend.id %>" />
<% } %>
<script src="/chat.js" type="module" defer></script>
