<div id="loader-container">
	<div class="loader" id="loader"></div>
</div>
<div class="chat-wrapper hidden" id="wrapper">
	<div class="left-side">
			<div class="open-chats">
				<div class="open-chats-text">Open Chats</div>
			</div>
		<% for (let other of locals.others) { %>
		<div class="chat-header">
			<div>
				<img
					class="user-img"
					src="data:image/<%= other.profilePic.contentType %>;base64,
        <%= other.profilePic.data.toString('base64') %>"
				/>
			</div>
			<div><a class="chat-link chat-username" href="/chat/<%= other.username %>"><%= other.username %></a></div>
			<ul class="chat-icons">
				<li><a class="chat-link chat-username" href="/chat/<%= other.username %>"><ion-icon name="chatbox-outline"></ion-icon></a></li>
				<li><ion-icon name="ellipsis-vertical-outline"></ion-icon></li>
			</ul>
		</div>
		<% } %>
	</div>
	<div class="right-side">
		<div class="chat-right-top">
			<div class="chat-right-top-inner">
				<img
					class="user-img"
					src="data:image/<%= locals.friend.profilePic.contentType %>;base64,
    <%= locals.friend.profilePic.data.toString('base64') %>"
				/>
				<%= locals.friend.firstName || locals.friend.username %>
			</div>
		</div>
		<div class="chat-area">
			<div id="message-container">
				<% for (const message of locals.messages) { %> 
                    <div class="chat-heading">
                        <div class="chat-time">
                            <%= message.time %>
                        </div>
                        <%= message.username %>
                        <% if (message.username === locals.user.username) { %>
                            &nbsp;&#40;you&#41;
                        <% } %>
                        </div>
                    <% if (message.username === locals.user.username) { %>

                        <div class="message"><%= message.text %></div>

                    <% } %> 
                    <% if (message.username === locals.friend.username) { %>
                        <div class="message-other"><%= message.text %></div>
                    <% } %>
                <% } %>
			</div>
		</div>
		<div class="chat-input-area">
			<form id="chat-form" autocomplete="off">
				<div class="message-group">
					<input type="text" id="message-input" placeholder="Type something here..." />
					<button type="submit" class="btn-primary send-btn" id="send-button">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="room-name"></div>
<% if (locals.user) { %>
<input type="hidden" id="user-name-input" value="<%= locals.user.username %>" />
<% } %> <% if (locals.friend) { %>
<input
	type="hidden"
	id="friend-socket-input"
	value="<%= locals.friend.socketId %>"
/>
<input type="hidden" id="friend-id-input" value="<%= locals.friend.id %>" />
<% } %>
<script
	type="module"
	src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script src="/chat.js" type="module" defer></script>
