<div class="main-wrapper">
	<h2>Open Chats</h2>
	<div class="friends-container">
		<% for (let friend of locals.friends) { %>
		<div class="friend-box" id="<%= friend.id %>">
			<a href="/user/<%= friend.username %>">
				<img
					class="list-pic"
					src="data:image/<%= friend.profilePic.contentType %>;base64,
        <%= friend.profilePic.data.toString('base64') %>" /></a
			><br />
			<%= friend.firstName %> <br>
            <p class="bio"><%= friend.bio %></p>
			<h5>Interests:</h5>
			<ul>
				<% for (let interest of friend.interests) { %>
				<li><%= interest %></li>
				<% } %>
			</ul>
			<h5>Values:</h5>
			<ul>
				<% for (let value of friend.values) { %>
				<li><%= value %></li>
				<% } %>
			</ul>
            
            <div class="btn-card-group">
                <button class="btn-card" id="like-btn" data-id="<%= friend.id %>">Like</button><a class="btn-card" href="/chat/<%= friend.username  %> ">Message</a>
            </div>			
		</div>
		<% } %>
	</div>
</div>
<script src="/like.js" defer></script>