<div class="main-wrapper">
	<h2 class="title">Potential Friends</h2>
	<div class="friends-container">
        <% 
        const hasLocation = locals.user.location && 
                           ((locals.user.location.coordinates && locals.user.location.coordinates.length === 2 && 
                             locals.user.location.coordinates[0] !== 0 && locals.user.location.coordinates[1] !== 0) ||
                            (locals.user.location.lat && locals.user.location.lon && 
                             locals.user.location.lat !== 0 && locals.user.location.lon !== 0));
        %>
        <% if (!hasLocation) { %> 
            <h3 class="subtitle">In order for the app to work, we need your location. On your profile page, please allow this app to access your location and click "update-profile".</h3><% } else if (locals.friends.length == 0) { %> 
            <h3 class="subtitle">There are currently no more users in the area.</h3><% } %> 
		<% for (let friend of locals.friends) { %>
		<div class="friend-box" id="<%= friend.id %>">
			<div class="box-top">
				<a href="/user/<%= friend.username %>">
					<% if (friend.profilePic && friend.profilePic.data) { %>
						<img
							class="list-pic"
							src="data:image/<%= friend.profilePic.contentType %>;base64,
        <%= friend.profilePic.data.toString('base64') %>"
						/>
					<% } else { %>
						<img
							class="list-pic"
							src="/images/anon.jpg"
						/>
					<% } %>
				</a>
			</div>
			<div class="profile-name"><%= friend.displayName %></div>
			<% if (friend.bio) { %>
			<div class="bio"><%= friend.bio %></div>
			<% } else { %>
			<div class="bio"><br></div>
			<% } %>
			<span class="profile-info"><strong>Interests:</strong></span>

			<span class="profile-info"><%= friend.interest1 %></span>
            <% if (friend.interest2 && friend.interest2 !== '') { %> 
            <span class="profile-info"> <%= friend.interest2 %></span>
            <% } %> 
            <% if (friend.interest3 && friend.interest3 !== '') { %> <br>
            <span class="profile-info"><%= friend.interest3 %></span>
            <% } %> 
            <% if (friend.interest4 && friend.interest4 !== '') { %>
            <span class="profile-info"> <%= friend.interest4 %></span>
            <% } %> 
            <% if (friend.interest5 && friend.interest5 !== '') { %>
            <span class="profile-info"> <%= friend.interest5 %></span>
            <% } %> 
			<br><br>
			<span class="profile-info"><strong>Values:</strong></span>

			<span class="profile-info"><%= friend.value1 %></span>
            <% if (friend.value2 && friend.value2 !== '') { %> 
            <span class="profile-info"> <%= friend.value2 %></span>
            <% } %> 
            <% if (friend.value3 && friend.value3 !== '') { %> <br>
            <span class="profile-info"><%= friend.value3 %></span>
            <% } %> 
            <% if (friend.value4 && friend.value4 !== '') { %>
            <span class="profile-info"> <%= friend.value4 %></span>
            <% } %> 
            <% if (friend.value5 && friend.value5 !== '') { %>
            <span class="profile-info"> <%= friend.value5 %></span>
            <% } %> 
			

			<div class="btn-card-group">
				<button
					class="btn btn-primary"
					id="like-btn"
					data-id="<%= friend.id %>"
				>
					Let's be friends!</button
				>
			</div>
		</div>
		<% } %>
	</div>
</div>
<script src="/like.js" defer></script>
